* {
  box-sizing: border-box;
}
body {
  font-family: 'Lora', serif;
}
.hero .jumbotron {
  background: inherit;
  height: 45em;
  text-align: center;
  color:black;
}
.title {
  background-color: rgba(25, 123, 193, 0.47)
}
.hero {
  background-image: url(../images/train.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  opacity: .7;
}

.hero .jumbotron .jumboName {
  margin-top: 4rem;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
}

.hero .jumbotron h4 {
  color:black;
  font-size: 3rem;
  margin-top: 3rem;
  font-weight: bold;
  
}
#why h1 {
  margin-bottom: 50px;
}

#why p {
  text-align: left;
  font-size: 20px;
}

.container {
  text-align: center;
  line-height: 1.37;
}

.jumbotron {
  background-color:rgba(25, 123, 193, 0.77);
}
#transit, #why{
  margin-top:75px;
}
 #transit h1{
    margin-bottom: 50px;
 }
footer {
  background-color: rgba(25, 123, 193, 0.77);
  margin-top: 8rem;
  color:white;
  text-align: center;
  font-size: 0.7rem;
  height:56px;
}

.js-directions-result {
  text-align: left;
  font-size: 20px;
  height: 300px;
  overflow: scroll;
}
.hidden {
  display: none;
}
.options {
  padding: 10px;
  cursor: pointer;
  border-style: ridge;
  background-color: white;
}
img {
  width:22px;
  height:22px;
}
.steps {
  margin-top: 5px;
  border-top:solid;
  border-color: rgba(158, 158, 158, 0.35);
}

 #map {
  height: 250px;
  border-style: ridge;
  margin-bottom: 20px;
} 
