* {
  box-sizing: border-box;
}
body {
  background-color: rgba(135, 202, 250, 0.61);
  font-family: 'Lora', serif;
}
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.row::before,.row::after {
  display: table;
  content: '';
}
.row::after {
  clear: both;
}
.top {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.plan-trip a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.plan-trip {
  width:100px;
  height:53px;
  float:right;
}
.plan-trip h4 {
  background: aliceblue;
  width:84px;
}
.why {
  margin:auto;
  height:370px;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 25px;
  clear:both;
}
.col-6 , .col-4 , .col-8 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
.about {
  font-size: 20px;
}
.why>h1 {
  margin-top: 150px;
}
h1 {
  text-align: center;
}
.entry {
  padding-top:5px;
  height:175px;
}
label {
  width:90%;
  font-weight: bold;
  font-size:20px;
  margin-bottom: 9px;
  clear: both;
  display:block;
}
#origin,#destination {
  background-color: #fff;
  font-weight: 300;
  padding: 0 11px 0 13px;
  font-size:20px;
  margin-bottom: 20px;
  width:90%;
}
#origin:focus,#destination:focus {
  border-color: #4d90fe;
}
.js-directions-result {
  font-weight: 300;
  font-size: 20px;
  height: 519px;
  display: inline-block;
  overflow: scroll;
  width:100%;
}
.hidden {
  display: none;
}
.options {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  width:100%;
}
img {
  width:22px;
  height:22px;
}
.steps {
  marigin-top:5px;
}
#map {
  height: 700px;
}

.footer {
  height:100px;
}

/* for mobile grid*/
.col-6{
  width: 100%;
}
.col-8,.col-4{
  width: 90%;
}
/* Non-mobile, grid */
@media only screen and (min-width: 640px) {

.col-6 {
  width: 50%;
}
  .col-8 {
    width: 66.66666%;
  }
  .col-4 {
    width:33.3333333%;
  }

}
